# Introduction:

Now that you have learned how to import TXT and CSV files using standard Python functionality, we are introducing the same concepts in another library: <b>Pandas.</b>

Pandas is your friend as a Data Scientist! It provides you with a lot of tools for data transformation with relatively few lines of code.

In [4]:
#We will first import Pandas. 
#Normally we import it with 'pd' as an alias.
import pandas as pd

We can now use the keyword <b>pd</b> to read our first csv file into 'Pandas DataFrame' (This is a specific Class in the Pandas library).

INFO: The "data" folder should be located in the same folder as your Jupyter Notebook file!

In [8]:
df1 = pd.read_csv('pandas_1_df_1.csv')

# Assignment 1.1
The text specified as a String is the direct path on your computer. <b>df1</b> is the object you have created of type DataFrame to store the data.

You may want to take a look at the CSV files in excel, to understand the format.

Go ahead and read the following file from the data folder:

<b>pandas_1_df_2.csv</b>

<details><summary>Hint 1</summary>
    <p>
        Use <b>df2</b> to store the DataFrames
    </p>
</details>

In [6]:
#Read the file here!
df2 = pd.read_csv("pandas_1_df_2.csv")

# Assignment 1.2
Check the columns of DataFrames `df1` and `df2`.

<details><summary>Hint 1</summary>
    <p>
        A pandas DataFrame has an attribute `columns`, that returns the columns of the DataFrame
    </p>
</details>

In [9]:
#Check whats inside the columns of df1 and df2 here
print(df1.columns)
print(df2.columns)

Index(['Knights', 'Ni!', 'Say', 'We', 'Who', 'are', 'the'], dtype='object')
Index(['We', 'are', 'the', 'Knights', 'Who', 'Say', 'Ni!'], dtype='object')

# Assignment 1.3
It can often be helpful to briefly visualize the data you are working with. Having millions of rows you do not want to print all of them. Instead, print the first 10 rows of the dataframes.

<details><summary>Hint 1</summary>
    <p>
        DataFrames has a method "head()" that takes the number of rows you want to print as an argument.
    </p>
</details>

In [17]:
#Print here!
print(df1.head(10))

print(df2.head(10))

   Knights  Ni!  Say  We  Who  are  the
0        3    6   15   5    0    7    9
1        3    4   14   4    5   22    4
2        0    0   10   1    2    8    4
3        2    4   19  11    6   12    9
4        1    1   17   6    3   23    3
5        2    2   21   2    2    1    8
6        3    4   17   8    2   16    4
7        0    3   21   6    2    3    3
8        3    7   10   5    5   18    4
9        5    1   15  15    1   22    5
  We       are       the Knights Who       Say       Ni!
0  c -0.069995 -2.215368       a   o -0.614659  0.793565
1  v -1.201108 -1.549098       b   f  1.568587 -0.509798
2  p  2.281151 -1.302166       w   m  1.417557 -0.258793
3  e  0.725577 -0.301394       p   y  1.215806  1.423164
4  w -0.250139  1.001280       u   g  1.050546 -0.016187
5  y  0.212166 -0.255229       a   i -0.047883  1.325829
6  p  0.550601 -0.221891       g   a  0.594509  0.166716
7  x -0.443366  0.861269       n   u  1.550345 -0.316077
8  v  0.688766 -0.974366       s   k -0.797777 -0.471146
9  w -0.286019  0.278089       c   l  1.393658  0.916527

# Assignment 1.4
Check that the DataFrames `df1` and `df2` has the same number of columns. You should validate this using a '==' operator

<details><summary>Hint 1</summary>
    <p>
        You can take the length of the column list or you can use the <b>shape</b> attribute, taking the second index.
    </p>
</details>

In [18]:
#Example. First element in the tuple is the number of rows, the second is the number of columns:
print(df1.shape)
print(df2.shape)

(789, 7)
(363, 7)

In [22]:
#Compare df1 and df2 here.
print(df1.shape[1] == df2.shape[1])

True

# Assignment 1.5
Now that you have played a little bit around with df1 and df2 we will have a look at df3: our <b>customer dataset.</b> First, let us load the dataset and check the first couple of rows to get accustomed to the dataset. Feel free to play a bit around with the data if you would like.

In [26]:
#Import, print and play here!
df3 = pd.read_csv('pandas_1_df_3.csv')
df3.head(10)

   customer_id product  price  grade_date
0            3       C  10.50  2011-12-31
1            2       E   1.25  2011-12-31
2            6       C   4.00  2012-12-31
3            1       B  62.00  2012-06-30
4            3       E  26.75  2011-06-30
5            4       E  21.00  2011-12-31
6            5       D  24.65  2012-12-31
7            6       D  20.00  2012-06-30
8            2       E  32.00  2011-06-30
9            4       C  31.00  2011-12-31

# Assignment 1.6
Which customer had the most expensive purchase?

In [30]:
#You can write your answer here:
print(df3['price'].max())

500.0

# Assignment 1.7
Having a DataFrame with millions of rows it can be time consuming to go through all of them manually. Let us now figure out how we do this using Pandas functionality...

A Pandas <b>Series</b> is a kind of DataFrame, containing just one column. On this Series, we can get the <b>max</b> value.

Now, find the max price!

<details><summary>Hint 1</summary>
    <p>
        A Pandas Series has a method called <b>max()</b>
    </p>
</details>

In [31]:
#Example of customer id series:
df3['customer_id']

0     3
1     2
2     6
3     1
4     3
5     4
6     5
7     6
8     2
9     4
10    6
11    5
12    3
13    1
14    3
15    5
16    2
17    4
18    6
19    3
20    5
21    1
22    4
23    3
24    1
25    3
26    4
27    5
28    6
29    5
30    6
Name: customer_id, dtype: int64

In [32]:
#Find the highest price here:
print(df3['price'].max())

500.0

# Assignment 1.8
Now find the minimum and mean price as well as the sum of all purchases. Do this in seperate statements.

In [35]:
#Find lowest, mean and sum here.
print(df3['price'].sum())
print(df3['price'].mean())
print(df3['price'].min())

1583.9
51.093548387096774
1.25

# Assignment 1.9
Let us say we are interested in finding our most valuable customers. To do this, we need a way to group our customers according to their unique ID. Luckily we have groupby functionality to do this.

Find the revenue based on the sum of prices per customer:

<details><summary>Hint 1</summary>
    <p>
        DataFrame has a method called groupby(). It takes the column you wish to group. You can run operations on this.
    </p>
</details>
<details><summary>Hint 2</summary>
    <p>
        .. Such operations can be methods such as min() and max()
    </p>
</details>

In [39]:
#Revenue for each customer goes here!
df3_cust_by_Id = df3.groupby(df3['customer_id'])
print(df3_cust_by_Id.sum())

              price
customer_id
1            112.00
2             83.25
3            268.25
4            152.50
5            765.65
6            202.25

Why was the Product name and Date not summed?

In [12]:
#Answer here:
#their types cannot be summed up as they are not integers or floats